.web-app-container{
    margin-left: 15px;
    margin-right: 15px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-button{
    padding: 0%;
    border-radius: 40px;
}

/* width */
::-webkit-scrollbar {
    width: 40px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.tools{
    margin: 2vw;
}